<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>ALl Posts</h1>
    <div class="allPosts">
        <% posts.forEach(post => { %>
            <div class="postCard">
                <h2>Title: <%= post.title %></h2>
                <p>Content: <%= post.content %></p>
                <img src="/uploads/<%= post.imageUrl %>" alt="Image" />
                <p>Published At: <%= post.publishedAt %></p>
                <a href="/api/posts/<%= post.id %>/addCategory">Add Category</a>
                <a href="/api/posts/<%= post.id %>/categories">See Category</a>
                <a href="/api/posts/<%= post.id %>/edit">Edit</a> 
                <a href="/api/posts/<%= post.id %>/comments">View Comments</a>                 <form id="deleteForm_<%= post.id %>" action="/api/posts/<%= post.id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" onclick="deletePost('<%= post.id %>')">Trash</button>
                </form>
            <% }); %>
        </div>
    </div>
    <script>
        function deletePost(postId) {
            if (confirm('Are you sure you want to delete this post?')) {
                fetch(`/api/posts/${postId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        location.reload(); 
                    } else {
                        console.error('Failed to delete post');
                    }
                })
                .catch(error => {
                    console.error('Error deleting post:', error);
                });
            }
        }
    </script>
</body>
</html>
